---
layout: default
---
<main class="content">
    <section class="container">
    	<div class="row-fluid">
    		<article class="home-icon">
				<a href="/">
					<i class="icon-home"></i>
				</a>
			</article>
			<article class="post">
				<h5>
          {% assign m = page.date | date: "%-m" %}
            {{ page.date | date: "%-d" }} ב{% case m %}{% when '1' %}ינואר{% when '2' %}פברואר{% when '3' %}מרץ{% when '4' %}אפריל{% when '5' %}מאי{% when '6' %}יוני{% when '7' %}יולי{% when '8' %}אוגוסט{% when '9' %}ספטמבר{% when '10' %}אוקטובר{% when '11' %}נובמבר{% when '12' %}דצמבר{% endcase %}{{ page.date | date: "%Y" }}
        </h5>
				<h2 class="content">{{page.title}}</h2>
        <section class="meta">
					{{ page.description }}
					<hr>
				</section>
				<section>
					{{ content }}
					<hr>
				</section>
				<section style="font-weight:bold; margin-bottom: 2em;">
					{% if page.previous %}
							<a rel="prev" class="a-hover"href="{{ page.previous.url }}"><i class="icon-double-angle-left"></i> {{ page.previous.title }}</a>
						{% endif %}
						{% if page.next %}
							<a rel="next" style="float:right" class="a-hover"href="{{ page.next.url }}">{{ page.next.title }} <i class=" icon-double-angle-right"></i></a>
					{% endif %}
				</section>
        <section>
          <div id="disqus_thread"></div>
            <script>
            (function() {
            var d = document, s = d.createElement('script');
            s.src = '//noamr.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

        </section>
			</article>
		</div>
	</section>
</main>
